/*Everything until the media screen is for mobile*/

html{
  height: 100%;
  width: 100%;
  overflow:overlay;
}

header{
  background-color: #5ac3bf;
}

body{
  /*background-image: url("images/background.png");
  background-repeat: repeat-x;
  background-size: 1920px 4812px;
  margin: 0;
  commenting this out because we dont have correct bg image and mobile is simplified */
  background-color: #f2f0dd;
}

a{text-decoration: none;}
h1,h2,h3,h4,p,li {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: #339999; /* can't use color 228587 because it isn't web safe*/
  font-size: 1.5em;
}

h2 {
  font-weight: bold;
  color: #339999;
  font-size: 1.25em;
}

h3{
    text-align: right;
  }

p{
  text-align: left;
  font-size: 1em;
  color: #292f30;
  line-height: 1.25em;
  }


#heading{
  width:100%;
  height: 280px; /*320*/
  margin: 0;
  padding: 0;
  }

#nav{
  list-style-type: none;
  max-width: 200px;
  position: absolute;
  margin: 25px 0 0 15px;
  }
#nav li{
  font-size: 1.25em; /*200% */
  color: #292f30;
  text-decoration: none;}
#nav a:visited, #nav a:link{
  color: #292f30;
  text-decoration: none;}
#nav a:active{
  color: #292f30;
  font-weight: bold;
}

#link a:visited, #link a:link{
  color: #339999
}

#link a:active, #link a:link{
  color: #339999
}
ul{
  list-style: none;
}
.shopimages img{
  float: center;
}

.logo img{
    float: center;
    display: block;
    width: 200px; /*250*/
    /*left: 336px;*/
    margin: auto;/*
    padding: 3%;*/
    padding-top: 10%;
    border-style: none;
  }

.content {
    position: relative;
    word-wrap: normal;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 1.2em;
    margin-left: 1.2em;
    border-style: none;
    border-width: 1px;
    background: #f7faf1;
    opacity: 100;
    border-radius: 30px;}

.homepic img{
  margin-left: 20%;
  width: 60%;
  padding-top: 3%;
}

.fixpixel img{
  position: relative;
  border-style: none;
  margin-top: 0;
  margin-bottom: -15px;
  bottom: 0;
  width:100%;
  z-index: -1;
     }

.sidebyside {  /*a classmate suggested we make these links look like the buttons on the games page to distinguish them as links*/
  margin: auto;
  padding: auto;
  text-align: center;
  word-spacing: 150px;
}

.center{
  text-align: center;
}

.share img{
  width: 150px;
}
.button{
  background-color: #339999;
  color:white;
  margin:20px;
  border-radius:10px;
  padding: 15px 32px;

  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.button a:link, .button a:visited {
  color:white;
}
.video{
  display: block;
    margin: 20px;
}
.gamesimg{
  margin: 20px;
}

.backtotop img {
  padding-left: 70%; /*80%*/
  height: 70px; /*110px*/
}

#blogpages
img{ width: 3%;
}
p{  text-align: justify;
  padding: 4%;
  margin-top: 2% ;
}
.share img{
  width: 25%;
}


/*community page below*/
.social {
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5%;
  grid-template-areas:
  "a a ."
  "b c d"
  "e f g";
}
.quiz {
  width: 100%;
}
.mediagrid{
 width: 100%;
}

#youtubegrid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5%;
  grid-template-areas:
  "a a"
  "b c";
}
#youtubevideo{
  width:100%;
  min-width: 200px;
  grid-area: a;
  /*560;
  height:315;*/}
#youtubepic{
  width: 100%;
  grid-area: b;
}

#podcastgrid audio{
  width: 100%;
}


.qp_all1935093 {
  width: 100%;
}
.post {
  min-width: 100px;
  grid-area: a;
}
.facebook img{
  width: 2rem;
  grid-area: b;
}
 .instagram img{
  width: 2rem;
  grid-area: c;
   }
 .twitter img{
   width: 2rem;
   grid-area: d;
   }
.tabletopia img{
    width: 2rem;
    grid-area: g;
  }
.bgg img{
    width: 2rem;
    grid-area: f;
  }
.kickstarter img{
  width: 2rem;
  grid-area: e;
  }

.character img{
  width: 50%;
  margin-left: 25%;
}

#forum img {
  display: none;
}

/*Below this is for desktop screens */
  @media screen and (min-width:800px){
    .html {
      width: 80%;
      margin: 0 auto;
    }
    .social {
      justify-content: center;
      display: grid;
      grid-template-columns: auto 1fr 1fr 1fr;
      grid-gap: 5%;
      grid-template-areas:
      "a b c d"
      "a e f g";
    }
    .post {
      min-width: 250px;
  }
   .mediagrid {
     display: grid;
     justify-content: center;
     grid-template-columns: 1.5fr .5fr 1fr;
     grid-gap: 5%;
     grid-template-areas:
     "a b c";
}

    #watchgrid{
      grid-area: a;
      padding-left: 10%;
    }
    #youtubegrid {
      grid-area: b;
      padding-top: 25%;
    }
    #youtubegrid img {
      max-width: 150px;
    }
    #podcastgrid {
      grid-area: c;
    }
.character img{
  max-width: 200px;}

  #youtubevideo{
    width:100%;


    /*min-width: 200px;
    560;
    height:315;*/}
  #youtubepic{
    width: auto;
  }
.share{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  grid-template-areas:
  "a b";}
.sessions{
  grid-area: a;}
.forums {
  grid-area:b;}


   }
