html{
  height: 100%;
  width: 100%;
  overflow:overlay;
}
body{
  background-image: url("images/background.png");
  background-color: #f2f0dd;
  background-repeat: repeat-x;
  background-size: 1920px 4812px;
  margin: 0;
}

a{text-decoration: none;}
h1,h2,h3,h4,p,li {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;}
h1, h2, h3, h4 {
  font-weight:bolder;
  color: #228587;
  font-size: 32;
}
p{
     font-size: 200%;
     word-wrap: normal;
     margin-left: 1em;
     margin-right: 1em;
     margin-top: 0;
     margin-bottom: 0;
    -webkit-margin-start: 0px
    -webkit-margin-end: 0px
     color: #292f30;
     line height: 30.4px;
     padding-left: 5%;
   }

#nav{
  list-style-type: none;
  }
#nav li{
  font-size: 200%;
  color: #292f30;
  text-decoration: none;}
#nav a:visited, a:link{
  color: #292f30;
  text-decoration: none;}
#nav a:active{
  color: #292f30;
  font-weight: bold;
}

.logo img{
    display: block;
    margin: auto;
    padding: 6%;
    border-style: none;
  }


.content {
    position: absolute;
    word-wrap: normal;
    padding: 30px;
    margin-bottom: -100px;
    margin-right: 1.2em;
    margin-left: 1.2em;
    border-style: none;
    border-width: 1px;
    background: #f7faf1;
    opacity: 100;
    border-radius: 30px;}

.fixpixel img{
  position: relative;
  border-style: none;
  padding-top: 100;
  margin-top: 100;
  bottom: 0;
  width:100%;
  z-index: -1;
     }
  h3{
   			text-align: right;

   	}
